<div >
    <div class="container form-group">​

        <div class="row">​

            <div class="col-md-6 offset-md-3">​

                <h2>Registro de Personas</h2>​

                <form [formGroup]="formGroup">

                    <div class="form-group">​

                        <label>Identificacion</label>​

                        <input type="text" name="identificacion" [ngClass]="{'is-invalid': control.identificacion.errors && control.identificacion.touched}" formControlName="identificacion" class="form-control" required />​
                        <div *ngIf="control.identificacion.errors" class="invalid-feedback">
                            <div *ngIf="control.identificacion.errors.required">Se requiere la identificacion</div>
                        </div>
                    </div>​

                    ​
                    <div class="form-group">​

                        <label>Nombre</label>​

                        <input type="text" name="nombre" [ngClass]="{'is-invalid': control.nombre.errors && control.nombre.touched}"  formControlName="nombre" class="form-control" required />​
                        <div *ngIf="control.nombre.errors" class="invalid-feedback">
                            <div *ngIf="control.nombre.errors.required">Se requiere el nombre</div>
                        </div>
                    </div>

                    <div class="form-group">​

                        <label>Apellidos</label>​

                        <input type="text" name="apellido" [ngClass]="{'is-invalid': control.apellidos.errors && control.apellidos.touched}" formControlName="apellidos" class="form-control" required />​
                        <div *ngIf="control.apellidos.errors" class="invalid-feedback">
                            <div *ngIf="control.apellidos.errors.required">Se requiere el apellido</div>
                        </div>
                    </div>
                    ​

                    <div class="form-group">​

                        <label>sexo</label>​
                        <select class="form-control" [ngClass]="{'is-invalid': control.sexo.errors && control.sexo.touched}" formControlName="sexo" name="sexo" id="sexo">
                            <option>Femenino</option>
                            <option>Masculino</option>
                        </select>
                        ​<div *ngIf="control.sexo.errors" class="invalid-feedback">
                            <div *ngIf="control.sexo.errors.required">Se requiere la modalidad</div>
                        </div>

                    </div>​

                    <div class="form-group">​

                        <label>Edad</label>​

                        <input type="number" name="edad" [ngClass]="{'is-invalid': control.edad.errors && control.edad.touched}" formControlName="edad" class="form-control" required />​
                        <div *ngIf="control.edad.errors" class="invalid-feedback">
                            <div *ngIf="control.edad.errors.required">Se requiere el edad</div>
                        </div>
                    </div>​


                    ​<div class="form-group">​
                        <label>Departamento</label>​
                        <input type="text" [ngClass]="{'is-invalid': control.departamento.errors && control.departamento.touched}" name="departamento" formControlName="departamento" class="form-control" required />​
                        <div *ngIf="control.departamento.errors" class="invalid-feedback">
                            <div *ngIf="control.departamento.errors.required">Se requiere el departamento</div>
                        </div>
                    </div>

                    <div class="form-group">​
                        <label>Ciudad</label>​
                        <input type="text" [ngClass]="{'is-invalid': control.ciudad.errors && control.ciudad.touched}" name="ciudad" formControlName="ciudad" class="form-control" required />
                        <div *ngIf="control.ciudad.errors" class="invalid-feedback">
                            <div *ngIf="control.ciudad.errors.required">Se requiere el ciudad</div>
                        </div>​
                    </div>

                </form>
                
                <form [formGroup]="formGroup2">
                    <div class="form-group">​
                        <label>Valor del Apoyo</label>​
                        <input type="number"[ngClass]="{'is-invalid': control2.valorApoyo.errors && control2.valorApoyo.touched}" name="valorApoyo" formControlName="valorApoyo" class="form-control" required />
                        <div *ngIf="control2.valorApoyo.errors" class="invalid-feedback">
                            <div *ngIf="control2.valorApoyo.errors.required">Se requiere el valorApoyo</div>
                        </div>​
                    </div>

                    <div class="form-group">​
                        <label>Modalidad Apoyo</label>​
                        <select class="form-control" [ngClass]="{'is-invalid': control2.modalidadApoyo.errors && control2.modalidadApoyo.touched}" formControlName="modalidadApoyo" name="modalidadApoyo" id="modalidadApoyo">
                            <option selected>Seleccionar</option>
                            <option>alimentario</option>
                            <option>económico</option>
                        </select>
                        <div *ngIf="control2.modalidadApoyo.errors" class="invalid-feedback">
                            <div *ngIf="control2.modalidadApoyo.errors.required">Se requiere la modalidadApoyo</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Fecha Entrega</label>
                        <input type="date" id="fecha" name="fecha" class="form-control" formControlName="fecha" >
                        <div *ngIf="control2.fecha.errors" class="invalid-feedback">
                            <div *ngIf="control2.fecha.errors.required">Se requiere la fecha</div>
                        </div>
                    </div>

                </form>
                
                <div *ngIf="validar() == true; else state" class="text-center">​

                    <button class="btn btn-primary mr-1" (click)="onSubmit()">Register</button>​
                    <button class="btn btn-secondary" type="reset">Cancel</button>​

                </div>
                
                ​<ng-template #state>
                    <button class="btn btn-primary mr-1" (click)="onSubmit()" disabled>Register</button>​
                    <button class="btn btn-secondary" type="reset">Cancel</button>
                </ng-template>

            </div>​

        </div>​

    </div>​

</div>

